<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="index.css"/>
    
    <script src="../main.js" defer></script>
    <script src="../scripts/script.js" defer></script>
  </head>
  <body>
    <!--  -->
    <div class="titlebar"></div>
    
    <!--  -->
    <div>
      <select id="levelOption">
        <option value="">Level 1</option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
      </select>
      <h4 id="time"></h4>
      <h4 id="score">Score: 0</h4>
      <h4 id="mistakes">Mistakes: 0</h4>
    </div>

    <!-- Dokoncujici obrazovka -->
    <div id="endScreen">
      <h1>Vysledek</h1>
      <div >
        <h4 id="time"></h4>
        <h4 id="score">Score: 0</h4>
        <h4 id="mistakes">Mistakes: 0</h4>
      </div>
    </div>

    <!--  -->
    <div>
      <div class="textBoxes"> 
        <p id="levelWindow"><span id="highlight"></span></p>
        <p id="userText"></p>
      </div>

      <button id="addLevel" onclick="fillLevelWindow(challengeSymbols, levelDisplay)">Make new level</button>
    </div>
    <div class="keyboard">
    </div>


  </body>
</html>
