<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="index.css"/>
    
    <script src="../main.js" defer></script>
    <script src="../scripts/script.js" defer></script>
  </head>
  <body>
    <!-- Title bar so drag works -->
    <div class="titlebar"></div>
    
    <!-- Level picking options -->
    <div>
      <select id="levelOption">
        <option value="">Level 1</option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
      </select>
      <h4 id="time"></h4>
      <h4 id="score">Score: 0</h4>
      <h4 id="mistakes">Mistakes: 0</h4>
    </div>

    <!-- The place where level is displayed !think of name  -->
    <div>
      <div class="textBoxes"> 
        <p id="levelTextDisplay"><span id="highlight"></span></p>
        <p id="userTextDisplay"></p>
      </div>

      <button id="makeNewLevelButton">Make new level</button>
    </div>
    <div class="keyboard">
    </div>


  </body>
</html>
